.konsylt{
	grid-column:  1 / 4;
	background-color:#2F80ED;
	margin-left: 0px;
	height: 100%;
	padding: 20px 0px;
	.konsylt__inner{
		text-align: center;
		.konsylt__inner__title{
			margin: 20px 0px;
			font-size: 40px;
			color:#fff;
			border-top: 2px solid #fff;
		}
		form{
			input{
				height: 40px;
				width: 247px;
				border-radius:5px;
				margin: 0px 40px;
				padding: 0px 10px;
				font-size: 20px;
				margin-bottom: 20px;
			}
			button{
				height: 40px;
				width: 247px;
				border-radius:5px;
				font-size: 20px;
				margin-left: 40px;
				background-color:#003377;
				color:#fff;
				transition: 0.4s linear;
				&:hover {
					box-shadow: 250px 0 0 0 rgba(0, 0, 0, 0.3) inset;
				}
				&:active {
					box-shadow: 250px 0 0 0 rgba(0, 0, 0, 0.3) inset;
				}
			}
			@media only screen and (max-width:640px) {
				button{
					margin-left: 0px;
				}
				
			}
			@media only screen and (max-width:400px) {
				button{
					margin-left: 0px;
					width: 100%;
				}
				input{
					width: 100%;
					margin-left: 0;
					margin-right: 0;
				}
				
			}
		}
		.konsylt__inner__item{
			margin-top: 20px;
			color:#fff;	
			font-size: 20px;
			span{
				padding: 0px 40px;
			}
		}
	}
}